
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  width: 25%;
  min-width: 200px;
  padding: 5px;
}

.card__inner {
  border: 1px solid skyblue;
  height: 100%;
  padding: 5px;
}
